<table class="table">
    <thead>
        <tr>
            <th>Paciente</th>
            <th class="text-end">Ações</th>
        </tr>
    </thead>

    <tbody id="fila-medico-body">
        {% include 'consulta/fila_medico_partial.html' %}
    </tbody>
</table>
<script>
function atualizarFila() {
    fetch("{% url 'fila_medico_partial' %}")
        .then(response => response.text())
        .then(html => {
            document.getElementById("fila-medico-body").innerHTML = html;
        });
}

setInterval(atualizarFila, 5000); // a cada 5 segundos
</script>
