<h3>Fila do Médico</h3>

<table class="table">
    <thead>
        <tr>
            <th>Paciente</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for consulta in consultas %}
        <tr>
            <td>{{ consulta.paciente.nome }}</td>
            <a href="{% url 'atender_consulta' consulta.id %}"
   class="btn btn-sm btn-primary">
    Atender
</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Nenhum paciente aguardando médico</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
