<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Marcar Consulta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="card shadow">
        <div class="card-body">

            <h3 class="mb-4">Marcar Consulta</h3>

            <p><strong>Paciente:</strong> {{ paciente.nome }}</p>
            <p><strong>CPF:</strong> {{ paciente.cpf }}</p>

            <form method="post">
                {% csrf_token %}

                <button type="submit" class="btn btn-success">
                    Confirmar Consulta
                </button>

                <a href="{% url 'listar_pacientes' %}" class="btn btn-secondary">
                    Voltar
                </a>
            </form>

        </div>
    </div>

</div>

</body>
</html>
